  .about {
  text-align: center;
  background-image:
    url("../image/about.png");
  @extend %padding-abt;
  position: relative;

.container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

  &__title {
  color: $basic-color;
  width: 696px;
  font-family: $main-font;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}

&__more {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 30px;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: $main-color;
  color: $basic-color;
}
}