.hero {
  @extend %padding;

&__overlay {
  position: relative;
  overflow: hidden;
}


&__textplay {
  font-family: $main-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  position: absolute;
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: $main-color;
  color: $basic-color;
  transform: translateY(100%);
  transition: transform $transition;
}

&__item:hover &__textplay {
  transform: translateY(0);
}
&__item {
  cursor: pointer;
}

  &__item {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: left;
  color: $accent-color;
   background-color: $basic-color;
   transition: color $transition;
   }

&__item:hover {
  background-color: $basic-color;
    box-shadow:
    $box-shadow;
}

&__more {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
   font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
  transition: color $transition;
  }

  &__more:hover {
  color: $basic-color;
  background-color: $main-color;
    animation: rubberBand 0.8s;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

&__list {
  @extend %flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 96px;
}


&__subtitle {
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: $accent-color;
  @extend %margin;
}

&__text {
  @extend %margin;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: $border-color;
}

&__buttons {
  @extend %flex;
  flex-direction: row;
  gap: 8px;
}

&__buttons button {
  background-color: $background-color;
}
}