  .rules {
  padding-top: 94px;

  &__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

  &__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $background-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

&__item:nth-child(1)::before {
  background-image: url("../image/antenna.png");
}

&__item:nth-child(2)::before {
  background-image: url("../image/clock.png");
}

&__item:nth-child(3)::before {
  background-image: url("../image/diagram.png");
}

&__item:nth-child(4)::before {
  background-image: url("../image/astronaut.png");
}


&__title {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $accent-color;
}

&__text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $focus-color;
}
}