
.team {
  background-color: $background-color;
  @extend %padding;

  &__title {
  font-family: $main-font;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $accent-color;
}

  &__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
  list-style: none;
}

&__item {
  width: 270px;
  background: $basic-color;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    $shadow;
}

&__photo {
  display: block;
  width: 100%;
  height: auto;
}

&__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
    font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $accent-color;
}

&__text {
  margin-bottom: 16px;
    font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $focus-color;
}

&__iconlist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

&__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @extend %flex;
  transition: $transition;
}

&__link:hover,
&__link:focus {
  background-color : $main-color;
}

&__link:hover &__icon,
&__link:focus:focus &__icon {
  fill: $basic-color;
}

&__iconitem {
  width: 40px;
  height: 40px;
}

&__icon {
  width: 20px;
  height: 20px;
  fill: $border-color;
}
}