.container {
      width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
 /*header*/
    
.header .container {
      display: flex;
      align-items: center;
  }
    .header {
  padding-top: 24px;
  padding-bottom: 25px;
}

  .header-webStudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
  }

  .header-web {
    color: #2196f3;
  }

  .header-studio {
    color: #000000;
  }

  .header-list {
    display: flex ;
   gap: 50px;
    margin-left: 93px;
    padding: 0;
    list-style: none;
  }

  .header-page {
      position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;  
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  }

   .header-page:hover {
    color: #2196f3;
  }

  .header-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-page:hover::after {
  animation: line-hover 250ms forwards;
}

@keyframes line-hover {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.header-contacts {
transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .header-contactshover:,
  .header-contacts:focus {
  color: #2196f3;
}

  .header-contacts:hover .header-icon,
  .header-contacts:focus .header-icon {
  fill: #2196f3;
}
   .icon-email {
    width: 16px;
    height: 12px;
    fill: #757575;
  }

   .icon-phone{
    width: 10px;
    height: 16px;
    fill: #757575;
  }

  .header-adress {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
    font-style: normal;
  }

  .header-contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-contacts:hover {
      color: #2196F3;
    }
  /*about*/

     .about .container {
      display: flex;
      align-items: center;
  }

  .about {
  text-align: center;
  background-image:
    url("../image/about.png");
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}

.about .container {
    display: flex;
  flex-direction: column;
}

  .about-title {
  color: white;
  width: 696px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;

}

.about-more {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 30px;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
}




  /*rules*/  

    .rules {
  padding-top: 94px;
}

  .rules-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

  .rules-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.rules-item:nth-child(1)::before {
  background-image: url("../image/antenna.png");
}

.rules-item:nth-child(2)::before {
  background-image: url("../image/clock.png");
}

.rules-item:nth-child(3)::before {
  background-image: url("../image/diagram.png");
}

.rules-item:nth-child(4)::before {
  background-image: url("../image/astronaut.png");
}


.rules-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.rules-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

/*work*/

.work {
   padding-top: 94px;
   padding-bottom: 94px;
  }
 .work-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}
.work-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 0;
  gap: 30px;
}
.work-item {
  position: relative;
}
.work-item::after {
  content: "ДЕСКТОПНІ ДОДАТКИ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.work-item:nth-child(2)::after {
  content: "МОБІЛЬНІ ДОДАТКИ";
}
.work-item:nth-child(3)::after {
  content: "ДИЗАЙНЕРСЬКІ РІШЕННЯ";
}
.work-item:hover {
  animation: heartBeat 1s;
}
.work-photo {
  display: block;
}

/*team*/

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
   padding-bottom: 94px;
   }

  .team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

  .team-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
  list-style: none;
}

.team-item {
  width: 270px;
  background: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-photo {
  display: block;
  width: 100%;
  height: auto;
}

.team-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-text {
  margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.team-iconlist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #2196f3;
}

.team-link:hover .team-icon,
.team-link:focus:focus .team-icon {
  fill: #ffffff;
}

.team-iconitem {
  width: 40px;
  height: 40px;
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

/*customers*/
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

  .customers-title {
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
  }

  .customers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .customers-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customers-item {
  width: 170px;
  height: 92px;
}

  /*footer*/

  .footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  }
 
 .footer .container {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
   }

  .footer-title .studio {
  color: white;
}

.footer-title .web {
  color: #2196F3;
}

.footer-text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-page {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255,255,255,0.6);
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-page:hover {
  color:#2196F3;
}

.footer-join {
  font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;
margin-bottom: 20px;
}

.footer-iconlist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43444D;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-iconitem {
  width: 40px;
  height: 40px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}

.footer-container > div {
  display: flex;
  flex-direction: column;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}

.footer-join {
  color: #ffffff;
  font-weight: 700;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.footer-input {
  min-width: 0;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #757575;
  border-radius: 4px;
  background-color: #2F303A;
  color: #fff;
}
.footer-input::placeholder {
  color: #757575;
}
.footer-button {
  height: 50px;
  padding: 0 20px;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.footer-telegram {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}


.modal-cross {
  width: 11px;
  height: 11px;
  fill: #000;
}


.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-field {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

/* INPUT */
.modal-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  outline: 1px solid #212121;
  transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  outline: 1px solid #2196f3;
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}


.modal-icon {
  position: absolute;
  left: 12px;
  top: 29px;
  width: 14px;
  height: 14px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}


.modal-agree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-checkbox {
  width: 16px;
  height: 15px;
}

.modal-text {
  font-size: 12px;
  line-height: 1.71;
  color: #757575;
  margin-left: 9px;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
}


.modal-submit {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  display: block;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);

  transition: 0.2s;
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  width: 500px;
  padding: 40px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

