@charset "UTF-8";
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__webStudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.header__web {
  color: #2196f3;
}
.header__studio {
  color: #000000;
}
.header__list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
  padding: 0;
  list-style: none;
}
.header__page {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__page:hover {
  color: #2196f3;
}
.header__page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
.header__page:hover::after {
  animation: line-hover 250ms forwards;
}
@keyframes line-hover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.header__contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:hover, .header__contacts:focus {
  color: #2196f3;
}
.header__contacts:hover .header__icon, .header__contacts:focus .header__icon {
  fill: #2196f3;
}
.header .icon-email {
  width: 16px;
  height: 12px;
  fill: #757575;
}
.header .icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
}
.header__adress {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
  font-style: normal;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:hover {
  color: #2196F3;
}
.header .current {
  color: #2196f3;
}
.header__page {
  position: relative;
}
.header .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.about {
  text-align: center;
  background-image: url("../image/about.png");
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}
.about .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__title {
  color: white;
  width: 696px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.about__more {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 30px;
  width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196F3;
  color: #ffffff;
}

.rules {
  padding-top: 94px;
}
.rules__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}
.rules__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
.rules__item:nth-child(1)::before {
  background-image: url("../image/antenna.png");
}
.rules__item:nth-child(2)::before {
  background-image: url("../image/clock.png");
}
.rules__item:nth-child(3)::before {
  background-image: url("../image/diagram.png");
}
.rules__item:nth-child(4)::before {
  background-image: url("../image/astronaut.png");
}
.rules__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.rules__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
}
.work__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 0;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__item::after {
  content: "ДЕСКТОПНІ ДОДАТКИ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}
.work__item:nth-child(2)::after {
  content: "МОБІЛЬНІ ДОДАТКИ";
}
.work__item:nth-child(3)::after {
  content: "ДИЗАЙНЕРСЬКІ РІШЕННЯ";
}
.work__item:hover {
  animation: heartBeat 1s;
}
.work__photo {
  display: block;
}

.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
  list-style: none;
}
.team__item {
  width: 270px;
  background: #ffffff;
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__photo {
  display: block;
  width: 100%;
  height: auto;
}
.team__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team__text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team__iconlist {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}
.team__link:hover .team__icon, .team__link:focus:focus .team__icon {
  fill: #ffffff;
}
.team__iconitem {
  width: 40px;
  height: 40px;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.customers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customers__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.customers__link:hover, .customers__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.customers__item {
  width: 170px;
  height: 92px;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero__overlay {
  position: relative;
  overflow: hidden;
}
.hero__textplay {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #2196F3;
  color: #fff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__item:hover .hero__textplay {
  transform: translateY(0);
}
.hero__item {
  cursor: pointer;
}
.hero__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__item:hover {
  background-color: #ffffff;
  box-shadow: 1px 5px 6px rgba(217, 213, 213, 0.862), 1px 5px 6px rgba(212, 208, 208, 0.862), 1px 5px 6px rgba(178, 177, 177, 0.862);
}
.hero__more {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__more:hover {
  color: #ffffff;
  background-color: #2196f3;
  animation: rubberBand 0.8s;
}
.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.hero__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 96px;
}
.hero__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero__text {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 20px font-family "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.hero__buttons button {
  background-color: #f5f4fa;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.footer__left {
  display: flex;
  flex-direction: column;
}
.footer__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.footer__title .studio {
  color: white;
}
.footer__title .web {
  color: #2196F3;
}
.footer__text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.footer__address {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer__page {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__page:hover {
  color: #2196F3;
}
.footer__join {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.footer__iconlist {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #43444D;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__iconitem {
  width: 40px;
  height: 40px;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__link:hover, .footer__link:focus {
  background-color: #2196f3;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 70px;
}
.footer__container > div {
  display: flex;
  flex-direction: column;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
}
.footer__join {
  color: #ffffff;
  font-weight: 700;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.footer__input {
  min-width: 0;
  height: 50px;
  padding: 0 16px;
  border: 1px solid #757575;
  border-radius: 4px;
  background-color: #2F303A;
  color: #fff;
}
.footer__input::-moz-placeholder {
  color: #757575;
}
.footer__input::placeholder {
  color: #757575;
}
.footer__button {
  height: 50px;
  padding: 0 20px;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.footer__telegram {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */