%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

//margin
%margin {
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

//pading
%padding {
    padding-top: 94px;
    padding-bottom: 94px;
}

%padding-abt {
    padding-top: 200px;
    padding-bottom: 200px;
}

%padding-fo {
    padding-top: 60px;
    padding-bottom: 60px;
}

//shrifts
%size {
    
}